/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#dialogRootPane{
	-fx-background-color: black;	
}
#dialogTitle{
	-fx-background-color: black;	
	-fx-text-fill: orange;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}
#dialogText{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-size: 16px;
}

#passwordField{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-text-alignment: center;
	-fx-font-size: 28px;
	-fx-font-weight: bold;
	-fx-border-color: white;
	-fx-border-width: 0px 0px 1px 0px;	
}

#numericPane{
	-fx-background-color: transparent;
	-fx-border-color: white;
	-fx-border-width: 1px;	
}
.numericButton{
	-fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    /*-fx-padding: 10 20 10 20;*/
}
#cancelButton{
	-fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    /*-fx-padding: 10 20 10 20;*/
}

#infoLabel{
	-fx-background-color: transparent;	 
	-fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
