/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.table-view{
	-fx-base: gray;
}
.table-view .column-header .label{
	-fx-text-fill: black;
	-fx-font-size: 14px;
	-fx-font-weight: normal;
}
.table-view .scroll-bar:vertical > .increment-button{
    -fx-arrows-visible: true;
    -fx-size: 20px;
}

.table-row-cell:selected {
   -fx-background-color: orange; 
}
.table-row-cell .text {
       -fx-fill: black ;
}


.table-cell{
	-fx-text-fill: black;
	-fx-font-size: 14px;
	-fx-font-weight: normal;
}
.table-cell:focused {
	-fx-text-fill: black;
  	-fx-padding: 0;
}

.integerColumn {
  -fx-alignment: CENTER-RIGHT;
}

.doubleColumn {
  -fx-alignment: CENTER-RIGHT;
}

.dateColumn {
  -fx-alignment: CENTER;
}

.textFieldEdit{
	-fx-text-fill: black;	
}


